@import "./partials/normalize.scss";
@import "./partials/list-style-none.scss";
@import "./partials/visually-hidden.scss";
@import "./partials/slick.scss";
@import "./partials/cmn-toggle-switch.scss";
@import "partials/about";
@import "partials/video";
@import "partials/whom";


@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src:
          local("LatoRegular"),
          url("../fonts/Lato-Regular.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src:
      local("LatoMedium"),
      url("../fonts/Lato-Medium.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src:
      local("LatoSemibold"),
      url("../fonts/latosemibold.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src:
      local("LatoBold"),
      url("../fonts/Lato-Bold.woff") format("woff")
}


@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src:
      local("OpenSansBold"),
      url("../fonts/OpenSans-Bold.woff") format("woff")
}


body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.main__title {
  font-weight: 500;
  font-size: 30px;
  color: #003D82;
  text-align: center;
  margin: 20px 0;
}

.main__btn {

  background: linear-gradient(90deg, #194EA5 0%, #134699 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .main__btn {
    width: 280px;
    margin: 30px auto;
  }
}


@media (min-width: 1170px) {
  .main__title {
    font-size: 50px;
    margin: 30px 0;
  }
}