@import "./partials/normalize.scss";
@import "./partials/list-style-none.scss";
@import "./partials/visually-hidden.scss";
@import "./partials/slick.scss";
@import "./partials/cmn-toggle-switch.scss";
@import "partials/container";


@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src:
          local("LatoRegular"),
          url("../fonts/Lato-Regular.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src:
      local("LatoMedium"),
      url("../fonts/Lato-Medium.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src:
      local("LatoSemibold"),
      url("../fonts/latosemibold.woff") format("woff")
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src:
      local("LatoBold"),
      url("../fonts/Lato-Bold.woff") format("woff")
}


@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src:
      local("OpenSansBold"),
      url("../fonts/OpenSans-Bold.woff") format("woff")
}


body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}